<app-header></app-header>
<div class="container">
  <h1>Pesquisa de CEP</h1>
  <form [formGroup]="formGroup" (ngSubmit)="enviar" class="form-group">
    <div>
      <label>Nome</label>
      <input formControlName="nome" type="text" class="form-control"/>
      <p *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors">Valor inválido</p>
    </div>
    <div>
      <label>CEP</label>
      <input [(ngModel)]="cep" formControlName="cep" type="text" class="form-control"/>
      <p *ngIf="formGroup.controls.cep.dirty && formGroup.controls.cep.errors">Valor inválido</p>
    </div>
    <div>
      <button (click)="consultaCep()" type="button" class="btn btn-outline-info">Consultar</button><button style="margin-left: 8px;" type="button" class="btn btn-outline-warning">Não sabe o seu CEP?</button>
    </div>
    <div>
      <label style="margin-top: 5px;">Logradouro</label>
      <input formControlName="logradouro" type="text" class="form-control"/>
      <p *ngIf="formGroup.controls.logradouro.dirty && formGroup.controls.logradouro.errors">Valor inválido</p>
    </div>
    <div>
      <label>Complemento</label>
      <input formControlName="complemento" type="text" class="form-control"/>
      <p *ngIf="formGroup.controls.complemento.dirty && formGroup.controls.complemento.errors">Valor inválido</p>
    </div>
    <div>
      <label>Bairro</label>
      <input formControlName="bairro" type="text" class="form-control"/>
      <p *ngIf="formGroup.controls.bairro.dirty && formGroup.controls.bairro.errors">Valor inválido</p>
    </div>
    <div>
      <label>Localidade</label>
      <input formControlName="localidade" type="text" class="form-control"/>
      <p *ngIf="formGroup.controls.localidade.dirty && formGroup.controls.localidade.errors">Valor inválido</p>
    </div>
    <div>
      <label>UF</label>
      <input formControlName="uf" type="text" class="form-control"/>
      <p *ngIf="formGroup.controls.uf.dirty && formGroup.controls.uf.errors">Valor inválido</p>
    </div>
    <div>
      <button type="submit" [disabled]="formGroup.invalid" class="btn btn-outline-success">Enviar</button>
    </div>
  </form>
</div>