h1 {
    color: red;
    margin-top: 25px;
}

h2 {
    margin-top: 25px;
    color: red;
}
#centro{
    background-image: url(https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    color: #fff;
}